@page
@model IndexModel
@{
    ViewData["Title"] = "EmpresaNombre";
}

<div class="">
    
    <!-- Catalogo -->
    
    <div class="container-fluid album">
        
        <div class="row">
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">
            
                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                        <p>Producto</p>
                        <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">
            
                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                        <p>Producto</p>
                        <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">
            
                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                        <p>Producto</p>
                        <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
        </div>
    </div>
    <!-- Catalogo -->

</div>