@model ProductoRelProveedor
@{
    <form asp-controller="ProductoRelProveedores" asp-action="Create" method="post">
                <div class="container">
                    <div class="row">

                    
                    
                        <label for="producto">ID del producto</label>
                        <input asp-for="productoId" type="number" class="form-control" id="producto" placeholder="Ingrese el Nro de Producto">
                        <p>¿No tienes productos? <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Crear producto</a></p>                                                


                        <label for="proveedor">ID del proveedor</label>
                        <input asp-for="proveedorId" type="number" class="form-control" id="proveedor" placeholder="Ingrese el Nro de Producto">
                        <p>¿No está tu proveedor? <a asp-controller="Proveedores" asp-action="RegistroProv" class="btn btn-primary">Crear proveedor</a></p>

                        <label for="stock">Stock actual</label>
                        <input asp-for="stock" type="number" class="form-control" id="stock" placeholder="Ingrese el Nro del Stock">

                        <label for="compra">Precio de compra</label>
                        <input asp-for="precioCompra" type="number" class="form-control" id="compra" placeholder="Ingrese el Precio al que compró el producto">

                        <label for="venta">Precio de venta</label>
                        <input asp-for="precioVenta" type="number" class="form-control" id="venta" placeholder="Ingrese el Precio al que venderá al producto">

                    <div class="d-flex justify-content-between">
                    <button asp-controller="ProductoRelProveedores" asp-action="Create" class="btn btn-primary">Guardar cambios</button>
                        </div>
                    </div>
                </div>

    </form>
}
