@model Orden
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form asp-controller="Orden" asp-action="Create" method="post">        
        <div class="container">
            <div class="row">
                
                <label for="vendedor">Nro de Vendedor</label>
                <input asp-for="vendedor" type="number" class="form-control" id="vendedor" placeholder="Ingrese el Nro del vendedor">

                <label for="cliente">Nro de Vendedor</label>
                <input asp-for="cliente" type="number" class="form-control" id="cliente" placeholder="Ingrese su Nro de cliente">

                <div class="d-flex justify-content-between">
                    <button asp-controller="Orden" asp-action="Create" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
        
    </form>
}
