@{
    ViewData["Title"] = "Home Page";
}


<div class="">

    <!-- Catalogo -->

    <div class="container-fluid album">

        <div class="row">
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard" data-bs-toggle="modal" data-bs-target="#descripcion">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
            <!-- Card individual -->
            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                <!-- Fondo gris -->
                <div class="singlecard-img">
                    <div><!-- Imagen card --></div>
                    <!-- Fondo gris -->
                </div>
                <!-- Texto card -->
                <div class="singlecard-text">
                    <p>Producto</p>
                    <p>$Precio</p>
                </div>
                <!-- Texto card -->
            </div>

            <!-- Card individual -->
        </div>
    </div>
    <!-- Catalogo -->
    <div class="album-end"></div>

</div>

    <div class="modal fade" id="descripcion" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="cerrar"></button>

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>