@model User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container min-vh-100"> 
        <div class="row">
            <div class="col-12">
                <form class="my-5" method="post" asp-controller="Auth" asp-action="Index">
                    
                    <div class="form-group">
                        <label for="email">Ingrese su Email</label>
                        <input type="email" asp-for="emailUser" class="form-control" id="email" placeholder="elmejorusuario@gmail.com">
            
                    
                    </div>
                    <div class="form-group">
                        <label for="contrasenia">Ingrese su contraseña</label>
                        <input type="password" asp-for="contraseniaUser" class="form-control" id="contrasenia" placeholder="Ingrese su contraseña">
                    </div>
        
                    <button type="submit" class="btn btn-primary my-5">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
    
}