@model Promocion
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form asp-controller="Promocion" asp-action="Guardar" method="post">
        <div class="container">
            <div class="row">

                <label for="producto">Ingresar Nro del Producto</label>
                <input asp-for="productoId" type="number" class="form-control" id="producto" placeholder="Ingrese el Nro de Producto">

                <label for="descuento">Porcentaje del descuento</label>
                <input asp-for="descuento" type="number" class="form-control" id="descuento" placeholder="Ingrese el descuento">

                <label for="descuento">Fecha de vigencia</label>
                <input asp-for="fechaHasta" type="date" class="form-control" id="descuento" placeholder="Ingrese el descuento">


                <div class="d-flex justify-content-between">
                    <button asp-controller="Promocion" asp-action="Guardar" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>

    </form>
}
