@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container min-vh-80">
        <div class="row d-flex flex-column justify-content-center">
            <div class="col-12">
                <h2>Oops!</h2>
                <p>Parece que hubo un error al intentar eliminar el producto</p>
            </div>
        </div>
    </div>
}
