@model List<Producto>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @foreach (var item in Model)
    {
        <div class="container-fluid album">

                        <div class="row">
                        <!-- Card individual -->
                            <div class="col-sm-12 col-md-4 col-lg-3 singlecard">

                                <!-- Fondo gris -->
                                <div class="singlecard-img">
                                    <div><!-- Imagen card --></div>
                                    <!-- Fondo gris -->
                                </div>
                                <!-- Texto card -->
                                <div class="singlecard-text">
                                    <p>@item.nombre</p>
                                    <p>$Precio</p>
                                </div>
                                <!-- Texto card -->
                            </div>

                            <!-- Card individual -->

                        </div>
        </div>
        <!-- Catalogo -->
    }



}